<!doctype html>
<html>
<head>
<title>致优教育</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?0408c54bef1f74d2735ce193b22ab96f";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</head>
<body>
<div class=page>
  <div class="navbar">
	  <div class="navbar-inner">
		  <ul class="nav">
		  	 <li><a href="#">致优教育</a></li>
		  	 <li><a href="{{url_for('coffee_event')}}">活动页面</a></li>
			 <li><a href="{{url_for('show_guest')}}">查看数据</a></li>
			 <li><a href="{{url_for('logout')}}">退出</a></li>
		  </ul>
	  </div>
	  {% for message in get_flashed_messages()%}
        <div class="alert alert-success">{{message}}</div>
      {% endfor %}
  </div>
  {% block body %}{% endblock %}
</div>
